extends layouts/base

block content
  .client-section
    .container.client-section__container
      .client-section__text-wrapper
        h1.client-section__title Baffin Bay Networks
        .client-section__note
          p Cloud-based security platform for network and application attacks prevention
        .client-section__text
          p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
        a(href="#").btn-danger.btn-danger--client-section.client-section__btn Visit Website
      .client-logo.client-logo--exited.client-section__logo
        img(src="/img/clients/baffin_bay.png" alt="Baffin Bay Networks").client-logo__img
  .text-section
    .container
      h2.text-section__title Get Investment
      .text-section__wrapper
        .text-section__text-and-btn
          .text-section__text
            p We invest in every type of technology, #[br]unified by the biggest of the ambitions
          a(href="#").btn-outline.text-section__btn Get Started
        img(src="/img/text_section_img.png" alt="").text-section__img