extends layouts/base

block content
  .section-about.section-about--how-we-work
    .container.section-about__container
      .section-about__text-wrapper
        h1.section-about__title How We #[span.red Work]
        .section-about__text
          p Lorem ipsum dolor sit amet consectetur. Euismod malesuada lacus pharetra turpis enim enim dictum. Nec id massa convallis nisi nibh.
        a(href="#get-investment-popup" data-toggle-side-popup).btn-danger Find Out More
      img(src="/img/how_we_work.png" alt="").section-about__img
  .steps-section
    .container.steps-section__container
      .steps-section__text-wrapper
        h2.steps-section__title Our Investment Process
        .steps-section__text
          p Lorem ipsum dolor sit amet consectetur. Euismod malesuada lacus pharetra turpis enim enim dictum. Nec id massa convallis nisi nibh.
      .steps
        .steps__item
          h4.steps__item-subtitle Step 1
          .steps__item-wrapper
            h3.steps__item-title Get in touch
            .steps__item-text
              p You might be introduced to us directly, or you share your initial pitch deck directly with us here. We’ll take a look at your deck and let you know what we thought within a week.
        .steps__item
          h4.steps__item-subtitle Step 2
          .steps__item-wrapper
            h3.steps__item-title Initial Conversation
            .steps__item-text
              p If we’d like to hear more, we will get in touch with you. The conversation will be about the team and understanding the product and opportunity in detail.
        .steps__item
          h4.steps__item-subtitle Step 3
          .steps__item-wrapper
            h3.steps__item-title We move forward
            .steps__item-text
              p Whether we are keen to move forward or not will be communicated quickly after the initial conversation. If we are moving forward we will need access to the data room to deep dive into the product, IP, metrics, scalability, traction, etc followed by a follow-up call.
        .steps__item
          h4.steps__item-subtitle Step 4
          .steps__item-wrapper
            h3.steps__item-title We make a decision
            .steps__item-text
              p You will hear back from us quickly with a ‘no’, a ‘yes’, or a request for more info to help us make a final decision. If we are not going to invest, we want to tell you no quickly and also tell you the key reasons that contributed to our choice.
        .steps__item
          h4.steps__item-subtitle Step 5
          .steps__item-wrapper
            h3.steps__item-title Time to execute a Term Sheet
            .steps__item-text
              p We work on a term sheet for you - we work from standard docs as much as we can to make it quick for you and minimise pain, time and lawyers in the future. If you accept the term sheet, we move forward with signing the subscription agreement and shareholders agreement.
        .steps__item
          h4.steps__item-subtitle Step 6
          .steps__item-wrapper
            h3.steps__item-title Let’s start the journey
            .steps__item-text
              p Once the documents are done we provide strategic support, connections and business advice among other benefits.
  include ./includes/blocks/text-section-light
  .side-popup#get-investment-popup
    .side-popup__overlay
    .side-popup__inner
      .side-popup__header
        h2.side-popup__title Get Investment
        a(href="#").side-popup__close-btn
      .side-popup__body
        form(action="#").investment-form
          .investment-form__items
            .investment-form__item
              label(for="first_name").form-label.investment-form__label First name#[sup.red *]
              input(type="text" name="first_name" id="first_name" required).form-text.investment-form__form-text
            .investment-form__item
              label(for="last_name").form-label.investment-form__label Last name#[sup.red *]
              input(type="text" name="last_name" id="last_name" required).form-text.investment-form__form-text
            .investment-form__item
              label(for="company_name").form-label.investment-form__label Your company’s name#[sup.red *]
              input(type="text" name="company_name" id="company_name" required).form-text.investment-form__form-text
            .investment-form__item
              label(for="website_link").form-label.investment-form__label A website link
              input(type="text" name="website_link" id="website_link").form-text.investment-form__form-text
            .investment-form__item
              label(for="email_address").form-label.investment-form__label Email address#[sup.red *]
              input(type="email" name="email_address" id="email_address" required).form-text.investment-form__form-text
            .investment-form__item
              label(for="company_location").form-label.investment-form__label Location of your company#[sup.red *]
              input(type="text" name="company_location" id="company_location" required).form-text.investment-form__form-text
            .investment-form__item.investment-form__item--2col
              label(for="problem_solving").form-label.investment-form__label Let’s talk about your idea. What problem is your company solving?#[sup.red *]
              textarea(name="problem_solving" id="problem_solving" required).form-textarea.investment-form__form-textarea
            .investment-form__item.investment-form__item--2col
              label(for="your_vision").form-label.investment-form__label What’s the vision you have for this company?#[sup.red *]
              textarea(name="your_vision" id="your_vision" required).form-textarea.investment-form__form-textarea
            .investment-form__item.investment-form__item--2col
              label(for="your_progress").form-label.investment-form__label What traction / progress have you made so far towards this vision?#[sup.red *]
              textarea(name="your_progress" id="your_progress" required).form-textarea.investment-form__form-textarea
            .investment-form__item.investment-form__item--2col
              label(for="about_you").form-label.investment-form__label What should we know about you and your team?#[sup.red *]
              textarea(name="about_you" id="about_you" required).form-textarea.investment-form__form-textarea
            .investment-form__item.investment-form__item--2col
              label(for="linkedin_profile_url").form-label.investment-form__label Your LinkedIn Profile URL#[sup.red *]
              input(type="text" name="linkedin_profile_url" id="linkedin_profile_url" required).form-text.investment-form__form-text
            //- .investment-form__item.investment-form__item--2col
            //-   label(for="additional_materials").form-label.investment-form__label If you have additional materials to help us make a better decision, please upload them here
            //-   .upload-file
            //-     input(type="file" name="additional_materials" id="additional_materials" multiple).upload-file__input
            //-     label(for="additional_materials").upload-file__file-wrapper
          .investment-form__actions
            button(type="submit").btn-danger.investment-form__submit-btn Submit