extends layouts/base

block content
  section.infoblocks-section.main__section
    .container
      .infoblocks-section__items
        .infoblock.infoblock--large.infoblocks-section__item.infoblocks-section__item--two-col.infoblocks-section__item--two-rows
          .infoblock__text-wrapper
            h3.infoblock__title Let's build #[span.red together]
            .infoblock__text
              p Visor Ventures is based out of Dubai, at the crossroads of east and west.
          img(src="/img/build_together.png" alt="").infoblock__img
        .infoblock.infoblock--medium.infoblocks-section__item.infoblocks-section__item--two-col
          .infoblock__text-wrapper
            h3.infoblock__title We partner with extraordinary entrepreneurs
            .infoblock__text
              p to shape the future through technology.
          img(src="/img/extraordinary_entrepreneurs.png" alt="").infoblock__img
        .infoblock.infoblock--small.infoblocks-section__item
          .infoblock__text-wrapper
            h3.infoblock__title We invest across multi stages and are in a distinctive position
            .infoblock__text
              p to help propel businesses into the growth-stage and help them succeed.
        a(href="#").more-link-box Find out more
  section.portfolio-slider-section.main__section
    .container
      .portfolio-slider-section__header
        h2.portfolio-slider-section__title Portfolio
        .portfolio-slider-section__swiper-buttons.hidden-smMinus
          button(type="button").arrow-button.arrow-button--prev.portfolio-slider-section__prev-btn.portfolio-slider-section__prev-btn--desktop
          button(type="button").arrow-button.arrow-button--next.portfolio-slider-section__next-btn.portfolio-slider-section__next-btn--desktop
        .portfolio-slider-section__swiper-buttons.hidden-md
          button(type="button").arrow-button.arrow-button--prev.portfolio-slider-section__prev-btn.portfolio-slider-section__prev-btn--mobile
          button(type="button").arrow-button.arrow-button--next.portfolio-slider-section__next-btn.portfolio-slider-section__next-btn--mobile
      .client-accordion-panels.portfolio-slider-section__panels.hidden-smMinus
        .client-accordion-panel.client-accordion-panel--opened.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Baffin Bay Networks
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Baffin Bay Networks
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-logo--exited.client-accordion-panel__logo
              img(src="/img/clients/baffin_bay.png" alt="Baffin Bay Networks").client-logo__img
        .client-accordion-panel.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title JackFinder
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title JackFinder
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/jackfinder.png" alt="JackFinder").client-logo__img
        .client-accordion-panel.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Peddler
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Peddler
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/peddler.png" alt="Peddler").client-logo__img
        .client-accordion-panel.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Zilch
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Zilch
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/zilch.png" alt="Zilch").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Baffin Bay Networks
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Baffin Bay Networks
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-logo--exited.client-accordion-panel__logo
              img(src="/img/clients/baffin_bay.png" alt="Baffin Bay Networks").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title JackFinder
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title JackFinder
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/jackfinder.png" alt="JackFinder").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Peddler
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Peddler
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/peddler.png" alt="Peddler").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Zilch
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Zilch
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/zilch.png" alt="Zilch").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Baffin Bay Networks
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Baffin Bay Networks
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-logo--exited.client-accordion-panel__logo
              img(src="/img/clients/baffin_bay.png" alt="Baffin Bay Networks").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title JackFinder
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title JackFinder
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/jackfinder.png" alt="JackFinder").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Peddler
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Peddler
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/peddler.png" alt="Peddler").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Zilch
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Zilch
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/zilch.png" alt="Zilch").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Baffin Bay Networks
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Baffin Bay Networks
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-logo--exited.client-accordion-panel__logo
              img(src="/img/clients/baffin_bay.png" alt="Baffin Bay Networks").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title JackFinder
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title JackFinder
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/jackfinder.png" alt="JackFinder").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Peddler
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Peddler
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/peddler.png" alt="Peddler").client-logo__img
        .client-accordion-panel.client-accordion-panel--invisible.client-accordion-panels__item
          a(href="#").client-accordion-panel__short
            h3.client-accordion-panel__short-title Zilch
          .client-accordion-panel__full
            .client-accordion-panel__text-wrapper
              h3.client-accordion-panel__title Zilch
              .client-accordion-panel__note
                p Cloud-based security platform for network and application attacks prevention
              .client-accordion-panel__text
                p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
              a(href="#").client-accordion-panel__more-link Learn More
            .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
              img(src="/img/clients/zilch.png" alt="Zilch").client-logo__img
      .portfolio-slider.portfolio-slider--mobile.swiper-container.hidden-md
        .swiper-wrapper.portfolio-slider__slides
          .swiper-slide.portfolio-slider__slide
            .client-accordion-panel.client-accordion-panel--opened.portfolio-slider__accordion-panel
              .client-accordion-panel__full
                .client-accordion-panel__text-wrapper
                  h3.client-accordion-panel__title Baffin Bay Networks
                  .client-accordion-panel__note
                    p Cloud-based security platform for network and application attacks prevention
                  .client-accordion-panel__text
                    p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
                  a(href="#").client-accordion-panel__more-link Learn More
                .client-logo.client-logo--accordion-panel.client-logo--exited.client-accordion-panel__logo
                  img(src="/img/clients/baffin_bay.png" alt="Baffin Bay Networks").client-logo__img
          .swiper-slide.portfolio-slider__slide
            .client-accordion-panel.portfolio-slider__accordion-panel
              .client-accordion-panel__full
                .client-accordion-panel__text-wrapper
                  h3.client-accordion-panel__title JackFinder
                  .client-accordion-panel__note
                    p Cloud-based security platform for network and application attacks prevention
                  .client-accordion-panel__text
                    p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
                  a(href="#").client-accordion-panel__more-link Learn More
                .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
                  img(src="/img/clients/jackfinder.png" alt="JackFinder").client-logo__img
          .swiper-slide.portfolio-slider__slide
            .client-accordion-panel.portfolio-slider__accordion-panel
              .client-accordion-panel__full
                .client-accordion-panel__text-wrapper
                  h3.client-accordion-panel__title Peddler
                  .client-accordion-panel__note
                    p Cloud-based security platform for network and application attacks prevention
                  .client-accordion-panel__text
                    p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
                  a(href="#").client-accordion-panel__more-link Learn More
                .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
                  img(src="/img/clients/peddler.png" alt="Peddler").client-logo__img
          .swiper-slide.portfolio-slider__slide
            .client-accordion-panel.portfolio-slider__accordion-panel
              .client-accordion-panel__full
                .client-accordion-panel__text-wrapper
                  h3.client-accordion-panel__title Zilch
                  .client-accordion-panel__note
                    p Cloud-based security platform for network and application attacks prevention
                  .client-accordion-panel__text
                    p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
                  a(href="#").client-accordion-panel__more-link Learn More
                .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
                  img(src="/img/clients/zilch.png" alt="Zilch").client-logo__img
          .swiper-slide.portfolio-slider__slide
            .client-accordion-panel.client-accordion-panel--opened.portfolio-slider__accordion-panel
              .client-accordion-panel__full
                .client-accordion-panel__text-wrapper
                  h3.client-accordion-panel__title Baffin Bay Networks
                  .client-accordion-panel__note
                    p Cloud-based security platform for network and application attacks prevention
                  .client-accordion-panel__text
                    p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
                  a(href="#").client-accordion-panel__more-link Learn More
                .client-logo.client-logo--accordion-panel.client-logo--exited.client-accordion-panel__logo
                  img(src="/img/clients/baffin_bay.png" alt="Baffin Bay Networks").client-logo__img
          .swiper-slide.portfolio-slider__slide
            .client-accordion-panel.portfolio-slider__accordion-panel
              .client-accordion-panel__full
                .client-accordion-panel__text-wrapper
                  h3.client-accordion-panel__title JackFinder
                  .client-accordion-panel__note
                    p Cloud-based security platform for network and application attacks prevention
                  .client-accordion-panel__text
                    p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
                  a(href="#").client-accordion-panel__more-link Learn More
                .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
                  img(src="/img/clients/jackfinder.png" alt="JackFinder").client-logo__img
          .swiper-slide.portfolio-slider__slide
            .client-accordion-panel.portfolio-slider__accordion-panel
              .client-accordion-panel__full
                .client-accordion-panel__text-wrapper
                  h3.client-accordion-panel__title Peddler
                  .client-accordion-panel__note
                    p Cloud-based security platform for network and application attacks prevention
                  .client-accordion-panel__text
                    p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
                  a(href="#").client-accordion-panel__more-link Learn More
                .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
                  img(src="/img/clients/peddler.png" alt="Peddler").client-logo__img
          .swiper-slide.portfolio-slider__slide
            .client-accordion-panel.portfolio-slider__accordion-panel
              .client-accordion-panel__full
                .client-accordion-panel__text-wrapper
                  h3.client-accordion-panel__title Zilch
                  .client-accordion-panel__note
                    p Cloud-based security platform for network and application attacks prevention
                  .client-accordion-panel__text
                    p Baffin Bay Networks is a Swedish cyber security company poised to disrupt the cloud-based cyber security market.
                  a(href="#").client-accordion-panel__more-link Learn More
                .client-logo.client-logo--accordion-panel.client-accordion-panel__logo
                  img(src="/img/clients/zilch.png" alt="Zilch").client-logo__img
  section.advantages-section.main__section
    .container.advantages-section__container
      h2.advantages-section__title Values
      .advantages-section__items
        .advantage-box.advantage-box--large.advantages-section__item
          .advantage-box__number /01
          h3.advantage-box__title We are entrepreneurs at heart
          .advantage-box__text
            p We have experience in building businesses from ground-up. We help founders by sharing our experiences and making their journey more enriching.
        .advantage-box.advantages-section__item
          .advantage-box__number /02
          h3.advantage-box__title We think in decades
          .advantage-box__text
            p We invest for the long term. We believe building iconic businesses takes the best part of a decade or longer.
        .advantage-box.advantages-section__item
          .advantage-box__number /03
          h3.advantage-box__title We are partners
          .advantage-box__text
            p We don't just write cheques but are partners to our portfolio companies. We ride the highs and lows with our portfolio companies.
        .advantage-box.advantage-box--large.advantages-section__item
          .advantage-box__number /04
          h3.advantage-box__title We are transparent and fair
          .advantage-box__text
            p We believe that our reputation, as a firm and as individuals, is paramount. We honor our commitments and always act in the best interest of every stakeholder creating outcomes that are fair, just and honest.
  include ./includes/blocks/banner