extends layouts/base

block content
  section.text-section
    .container.text-section__container
      .text-section__text-wrapper
        h1.text-section__title Our #[span.red Companies]
        .text-section__text
          p Our companies are united only by their ambition to tackle the world’s greatest problems, led by founders who are doing their life’s work.
          p We’ve joined their journeys at the earliest stages across industries and geographies. Meet the companies who inspire our work.
        a(href="#").btn-danger Find Out More
      img(src="/img/about_us.png" alt="").text-section__img
  section.portfolio-section
    .container
      h2.portfolio-section__title Featured Portfolio
      .portfolio-section__items
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/2021_ai.png" alt="2021.ai").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title 2021.ai
            .client-box__text
              p Lorem Ipsum
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/3s_money.png" alt="3S Money").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title 3S Money
            .client-box__text
              p Payments Technology
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/adxcelerant.png" alt="AdXcelerant").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title AdXcelerant
            .client-box__text
              p The industry leader in cable TV’s innovative technology-enabled advertising
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small.client-logo--exited
            img(src="/img/clients/aplazo.png" alt="Aplazo").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title Aplazo
            .client-box__text
              p Buy-now-pay-later #[br]fintech solution
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small.client-logo--exited
            img(src="/img/clients/baffin_bay_small.png" alt="Baffin Bay Networks").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title Baffin Bay Networks
            .client-box__text
              p Cloud-based security #[br]platform for network #[br]and application attacks prevention
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/jackfinder.png" alt="JackFinder").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title JackFinder
            .client-box__text
              p “booking.com” for car #[br]services
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/peddler.png" alt="Peddler").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title Peddler
            .client-box__text
              p Shop thousands of products from local stores with sustainable same-day #[br]delivery
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/pyypl.png" alt="Pyypl").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title Pyypl
            .client-box__text
              p Digital payments #[br]and financial services
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/recast.png" alt="Recast").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title Recast
            .client-box__text
              p Sports and esports social #[br]video platform
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/zuzu.png" alt="Zuzu").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title Zuzu
            .client-box__text
              p Revenue management #[br]and distribution software solution
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/zilch.png" alt="Zilch").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title Zilch
            .client-box__text
              p Payments technology company
        a(href="/client.html").client-box.portfolio-section__item
          .client-logo.client-logo--light-grey.client-logo--small
            img(src="/img/clients/your_logo.png" alt="Your Company").client-logo__img
          .client-box__text-wrapper
            h3.client-box__title Your Company
            .client-box__text
              p Let's talk about your idea
  include ./includes/blocks/banner-light