*
	margin 0
	padding 0
	box-sizing border-box

html,
body
	height 100%

body
	font-weight 400
	font-size 14px
	line-height normal
	font-family var(--base-font)
	color #000
	background #EEEFF4

img,
iframe
	max-width 100%
	height auto