font-face('Poppins', '../fonts/Poppins/subset-Poppins-Regular')
font-face('Poppins', '../fonts/Poppins/subset-Poppins-Italic', 400, italic)
font-face('Poppins', '../fonts/Poppins/subset-Poppins-Medium', 500)
font-face('Poppins', '../fonts/Poppins/subset-Poppins-MediumItalic', 500, italic)
font-face('Poppins', '../fonts/Poppins/subset-Poppins-SemiBold', 600)
font-face('Poppins', '../fonts/Poppins/subset-Poppins-SemiBoldItalic', 600, italic)
font-face('Poppins', '../fonts/Poppins/subset-Poppins-BoldI', 700)
font-face('Poppins', '../fonts/Poppins/subset-Poppins-BoldItalic', 700, italic)