:root
	--base-font 'Poppins', sans-serif

$xs = '(max-width: 767px)'
$xxsPlus = '(min-width: 576px)'
$xxs = '(max-width: 575px)'
$smMinus = '(max-width: 1023px)'
$sm = '(min-width: 768px) and (max-width: 1023px)'
$smPlus = '(min-width: 768px)'
$md = '(min-width: 1024px)'
$mdMinus = '(max-width: 1199px)'
$lg = '(min-width: 1200px)'
$1440- = '(max-width: 1440px)'
$xlMinus = '(max-width: 1919px)'
$xlPlus = '(min-width: 1920px)'