.btn-default
	display inline-flex
	justify-content center
	align-items center
	padding 17px 38px
	border none
	outline none
	border-radius 10px
	background #262626
	color #FFF
	font-weight 600
	font-size 14px
	line-height 1.5
	font-family var(--base-font)
	text-decoration none
	@extend .transition
	
	&:hover
		background lighten(#262626, 13%)