.btn-danger
	display inline-flex
	padding 17px 53px
	border none
	outline none
	border-radius 10px
	background #88070A
	color #FFF
	font-size 14px
	line-height 1.5
	font-weight 600
	text-decoration none
	@extend .transition
	
	&:hover
		background darken(#88070A, 20%)
	
	&--text-section
		padding-right 62px
		padding-left 62px