.btn-outline
	display inline-flex
	padding 16px 61px
	border 1px solid #fff
	outline none
	border-radius 10px
	background none
	color #FFF
	font-size 14px
	line-height 1.5
	font-weight 600
	text-decoration none
	@extend .transition
	
	&:hover
		background #fff
		color #262626