.btn-danger
	display inline-flex
	justify-content center
	padding 17px 53px
	border none
	outline none
	border-radius 10px
	background #88070A
	color #FFF
	font-weight 600
	font-size 14px
	line-height 1.5
	font-family var(--base-font)
	text-decoration none
	cursor pointer
	@extend .transition
	
	&:hover
		background darken(#88070A, 20%)
	
	&--text-section
		padding-right 62px
		padding-left 62px
	
	&--client-section
		padding-right 56px
		padding-left 56px