.client-accordion-panel
	max-width 780px
	
	@media $smMinus
		max-width 730px
		
	@media $xs
		max-width 340px
		
	@media $xxs
		max-width 260px
	
	&__short
		display grid
		grid-template-columns 100%
		place-items center
		width 100px
		height 400px
		border-radius 20px
		background #202020
		text-decoration none
		@extend .transition
		
		@media $xs
			display none
		
		&:hover
			background lighten(#202020, 5)
	
	&__short-title
		color #FFF
		font-weight 600
		font-size 20px
		line-height 1.26246
		opacity 0.699999988079071
		transform rotate(-90deg)
		
	&__full
		grid-template-columns repeat(2, 1fr)
		align-items end
		gap 70px
		color #FFF
		
		@media $smPlus
			display none			
		
		@media $smMinus
			gap 50px
		
		@media $xs
			display grid
			grid-template-columns 100%
			gap 30px
		
		@media $xxs
			gap 20px
	
	&__title
		margin-bottom 6px
		font-weight 600
		font-size 28.567px
		line-height 1.26246
		
		@media $xs
			font-size 24px
	
	&__note
		margin-bottom 20px
		font-size 12px
		line-height 1.59746
		opacity 0.699999988079071
	
	&__text
		margin-bottom 20px
		font-size 13.804px
		line-height 1.79746
	
	&__more-link
		color #FFF
		font-weight 600
		
		&:hover
			text-decoration none
	
	&__logo
		@media $xs
			order -1
	
	&--opened
		.client-accordion-panel__short
			display none
			
		.client-accordion-panel__full
			display grid