.client-section
	padding 36px 0 100px
	
	&__container
		display grid
		grid-template-columns 540px auto
		justify-content space-between
		gap 40px
	
	&__text-wrapper
		margin-top 54px
	
	&__title
		margin-bottom 28px
		font-weight 600
		font-size 50px
		line-height 1.045
		color #060606
	
	&__note
		width 400px
		max-width 100%
		margin-bottom 30px
		padding-left 19px
		border-left 4px solid #88070A
		font-weight 600
		font-size 16px
		line-height 1.42246
	
	&__text
		margin-bottom 30px
		color #181818
		line-height 1.79746