// .client-accordion
// 	&__list
// 		display flex
// 		gap 30px
		
// 	// &__items
// 		// display flex
// 		// display grid
// 		// grid-template-columns repeat(auto-fill, minmax(780px, 1fr))
// 		// gap 30px