.contacts-list
	&__items
		list-style none
		display grid
		grid-template-columns 100%
		gap 30px
	
	&__item,
	&__link
		color #181818
	
	&__link
		font-size 18px
		text-decoration none
	
	&__title
		margin-bottom 2px
		font-weight 600
		font-size 14px
		line-height 1.59746