.contact-form
	width 670px
	max-width 100%
	padding 50px 61px 55px
	border-radius 20px
	background #fff
	
	&__title
		margin-bottom 10px
		font-weight 600
		font-size 40px
		line-height 1.045
		color #262626
	
	&__description
		margin-bottom 40px
		font-size 16px
		line-height 1.59746
		color #181818
	
	&__items
		display grid
		grid-template-columns repeat(2, 1fr)
		gap 37px 49px
	
	&__item
		&--2col
			grid-column span 2
	
	&__label
		margin-bottom 7px
	
	&__actions
		display grid
		grid-template-columns 100%
		margin-top 40px