.contacts-list
	&__items
		list-style none
		display grid
		grid-template-columns 100%
		gap 30px
		
		@media $mdMinus
			gap 25px
			
		@media $smMinus
			gap 20px
			
		@media $xs
			gap 15px
	
	&__item,
	&__link
		color #181818
	
	&__link
		font-size 18px
		text-decoration none
		
		@media $xs
			font-size 17px
			
		@media $xxs
			font-size 16px
	
	&__title
		margin-bottom 2px
		font-weight 600
		font-size 14px
		line-height 1.59746