.contact-form
	width 670px
	max-width 100%
	padding 50px 61px 55px
	border-radius 20px
	background #fff
	
	@media $mdMinus
		width 580px
		padding 40px 50px
	
	@media $smMinus
		width 460px
		padding 30px 40px
	
	@media $xs
		width auto
		padding 30px 35px
		border-radius 16px
	
	@media $xxs
		padding 20px 25px
	
	&__title
		margin-bottom 10px
		font-weight 600
		font-size 40px
		line-height 1.045
		color #262626
		
		@media $mdMinus
			font-size 36px
			
		@media $smMinus
			font-size 32px
			
		@media $xs
			font-size 28px
	
	&__description
		margin-bottom 40px
		font-size 16px
		line-height 1.59746
		color #181818
		
		@media $mdMinus
			margin-bottom 35px
		
		@media $smMinus
			margin-bottom 25px
			font-size 15px
		
		@media $xs
			margin-bottom 20px
	
	&__items
		display grid
		grid-template-columns repeat(2, 1fr)
		gap 37px 49px
		
		@media $mdMinus
			gap 30px 40px
			
		@media $smMinus
			gap 30px
		
		@media $xxs
			grid-template-columns 100%
	
	&__item
		.wpcf7-not-valid-tip
			margin-top 10px
			font-weight 500
			color #A70B0B
			
		&--2col
			@media $xxsPlus
				grid-column span 2
	
	&__label
		margin-bottom 7px
	
	&__actions
		position relative
		display grid
		grid-template-columns 100%
		margin-top 40px
		
		@media $smMinus
			margin-top 30px
		
		.wpcf7-spinner
			position absolute
			top 0
			right 0
			bottom 0
			margin auto 17px
			background #FFF
			
			&::before
				background #000
	
	&__submit-btn
		@media $xs
			min-height 55px
	
	&.wpcf7-form
		.wpcf7-response-output
			margin 1.7em 0 0
			padding 0.8em 1em
		
		&.invalid
			.wpcf7-response-output
				border-color #A70B0B