.contacts-section
	padding 27px 0 119px
	background url('../img/contacts_section_img.png') left -8px bottom 7px no-repeat
	
	&__container
		display grid
		grid-template-columns repeat(2, 1fr)
		gap 20px
	
	&__text-wrapper
		margin-top 34px
	
	&__title
		margin-bottom 39px