.footer
	color #FFF
	
	&__container
		display grid
		grid-template-columns repeat(2, auto)
		justify-content space-between
	
	&__top
		// padding 64px 0
		padding 64px 0 73px
		background #181818
	
	&__bottom
		padding 8px 0
		background #060606
	
	&__link
		color #FFF
		
		&:hover
			text-decoration none
	
	&__contacts
		margin-top 7px
	
	&__copyright
		font-weight 600