.form-textarea
	width 100%
	height 118px
	padding 10px 10px
	border 1px solid #CDCDCD
	border-radius 3px
	font-family var(--base-font)
	font-size 14px
	outline none
	resize none
	@extend .transition
	
	&:focus
		border-color #000