.form-text
	width 100%
	height 42px
	border none
	outline none
	border-bottom 1px solid #CDCDCD
	outline none
	font-family var(--base-font)
	font-size 14px
	@extend .transition
	
	&:focus
		border-color #000