.header
	padding 27px 0
	
	&__container,
	&__right
		display grid
		grid-template-columns repeat(2, auto)
		align-items center
		gap 60px
	
	&__container
		justify-content space-between
	
	&__logo
		margin-top 5px