.investment-form
	&__items
		display grid
		grid-template-columns repeat(2, 1fr)
		gap 35px 30px
	
	&__item
		&--2col
			grid-column span 2
	
	&__label
		margin-bottom 10px
		
	&__actions
		display grid
		grid-template-columns 100%
		margin-top 50px