.page-title
	font-weight 600
	font-size 60px
	line-height 1.045
	
	@media $mdMinus
		font-size 52px
	
	@media $smMinus
		font-size 44px
		
	@media $xs
		font-size 36px
		
	@media $xxs
		font-size 32px