.portfolio-slider
	&__slides
		align-items stretch
	
	// &__slide
	// 	width 100px
	
	// .swiper-slide-active
	// 	width 780px
		
	// &__slide
	// 	@media $smPlus
	// 		width auto
	
	&__accordion-panel
		@media $xs
			margin-right auto
			margin-left auto