.text-section
	&__container
		display grid
		grid-template-columns 1fr auto
		align-items center
		gap 10px
	
	&__text-wrapper
		margin-bottom 44px
		
	&__title
		margin-bottom 29px
		font-weight 600
		font-size 60px
		line-height 1.045
	
	&__text
		margin-bottom 40px
		line-height 1.79746
		color #181818
		
		& > p + p
			margin-top 12px
	
	&__img
		position relative
		z-index -1
		max-width none
		margin -27px -83px -213px 0
		pointer-events none
	
	&--how-we-work
		.text-section__title
			margin-bottom 19px
		
		.text-section__text
			margin-bottom 30px
			
		.text-section__img
			margin -96px -115px -209px -35px