.steps-section
	padding 135px 0 144px
	// padding 135px 0 71px
	border-top-right-radius 16px
	border-top-left-radius 16px
	background #181818 url('../img/hook.png') left 42% no-repeat
	color #FFF
	
	&__container
		display grid
		grid-template-columns 384px 1fr
		gap 116px
	
	&__title
		margin-bottom 26px
		font-weight 600
		font-size 40px
		line-height 1.045
	
	&__text
		font-size 16px
		line-height 1.79746
		opacity 0.699999988079071