.text-section
	border-top-right-radius 16px
	border-top-left-radius 16px
	padding 114px 0 0
	background #5C090B
	color #fff
	
	&__wrapper
		display grid
		grid-template-columns 1fr auto
		gap 40px
	
	&__title
		margin-bottom 33px
		font-weight 500
		font-size 150.448px
		line-height 1.045
	
	&__text
		margin-bottom 45px
		font-size 18px
		line-height 1.64746
	
	&__img
		margin-top -125px
		margin-bottom -159px
		pointer-events none
	
	&--light-bg
		background #EEEFF4
		color #181818