.upload-file
	position relative
	
	&__input
		opacity 0
		visibility hidden
		position absolute
	
	&__wrapper
		display grid
		grid-template-columns auto 1fr
		align-items center
		gap 20px
		
		@media $xs
			grid-template-columns 100%
	
	&__note
		color #181818
		font-size 12px
		line-height 1.4025
		
		@media $xs
			order -1
		
		& > p + p
			margin-top 5px