section.banner.banner--light-bg.main__section
  .container
    .banner__inner
      h2.banner__title Get Investment
      .banner__wrapper
        .banner__text-and-btn
          .banner__text
            p We invest in every type of technology, #[br]unified by the biggest of the ambitions
          a(href="#get-investment-popup" data-toggle-side-popup).btn-danger.btn-danger--text-section.banner__btn Get Started
        img(src="/img/text_section_img.png" alt="").banner__img