footer.footer
	.footer__top
		.container.footer__container
			a(href="/" title="На главную").logo
				img(src="/img/logo_white.svg" alt="Logo").logo__img
			.contacts.footer__contacts
				ul.contacts__list
					li.contacts__item
						a(href="tel:+971045715000").contacts__link
							span.ico.ico--circle.ico--phone
							span.contacts__text +971 (0) 4 571 5000
					li.contacts__item
						a(href="mailto:info@visorventures.com").contacts__link
							span.ico.ico--circle.ico--email
							span.contacts__text info@visorventures.com
	.footer__bottom
		.container.footer__container
			a(href="/privacy_policy.html").footer__link Privacy Policy
			.footer__copyright
				p © 2023. Visor Ventures AFS License No: 46389. All rights reserved.