header.header
	.container.header__container
		a(href="/" title="На главную").logo.header__logo
			img(src="/img/logo.svg" alt="Logo").logo__img
		.header__right
			.main-menu
				ul.main-menu__list
					li.main-menu__item
						a(href="/").main-menu__link Home
					li.main-menu__item
						a(href="/portfolio.html").main-menu__link Portfolio
					li.main-menu__item
						a(href="/how_we_work.html").main-menu__link How We Work
					li.main-menu__item
						a(href="/contacts.html").main-menu__link Contact Us
			a(href="#").btn-default Get investment