.side-popup.side-popup--no-header#mobile-navigation-popup
  .side-popup__overlay
  .side-popup__inner
    a(href="#").side-popup__close-btn
    .side-popup__body
      .side-popup__menu-wrapper
        .main-menu
          ul.main-menu__list
            li.main-menu__item
              a(href="/").main-menu__link Home
            li.main-menu__item
              a(href="/portfolio.html").main-menu__link Portfolio
            li.main-menu__item
              a(href="/how_we_work.html").main-menu__link How We Work
            li.main-menu__item
              a(href="/contacts.html").main-menu__link Contact Us
        a(href="#").btn-default Get investment