.text-section.text-section--light-bg
  .container
    h2.text-section__title Get Investment
    .text-section__wrapper
      .text-section__text-and-btn
        .text-section__text
          p We invest in every type of technology, #[br]unified by the biggest of the ambitions
        a(href="#").btn-danger.btn-danger--text-section.text-section__btn Get Started
      img(src="/img/text_section_img.png" alt="").text-section__img